<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33176445097-o798hf9fvg9up1hcua3gl6hdhbk32erh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33176445097-o798hf9fvg9up1hcua3gl6hdhbk32erh</string>
	<key>API_KEY</key>
	<string>AIzaSyAdhrHrcu5-1qJeyFQjh-asa8oHvb2wWMs</string>
	<key>GCM_SENDER_ID</key>
	<string>33176445097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikhilsingh.dypiu</string>
	<key>PROJECT_ID</key>
	<string>dypiu-81b9d</string>
	<key>STORAGE_BUCKET</key>
	<string>dypiu-81b9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33176445097:ios:daf246162ed674451fc9b8</string>
	<key>DATABASE_URL</key>
	<string>https://dypiu-81b9d.firebaseio.com</string>
</dict>
</plist>